.primeiradiv{
    background-image: url(../Imagens/topo.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 18%;
}
#divante{
    background-color: #e9ecf5;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: table;
    position: relative;
    width: 100%;
}
#carrosel{
    border-radius: 9px 9px 9px 9px;
}
#nav{
    border: solid 0px;
    background: inherit;
    padding-top: 20px;
}
#a{
    color: white;
    padding-right:  15px;
    padding-left: 15px;
    font-size: 18px;
    margin-left: 10px;
    font-family: sans-serif;
}
#a:hover{
    text-shadow: black 1px 1px 1px ;
    border-radius: 9px 9px 9px 9px ;
    color: white;
}
#listanav{
    margin-right: 10%;
}
#div1{
}
/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
    #titulo{
        font-size: 40px;
        text-align: center;
        color: white;
        letter-spacing: 4px;
        line-height: 70px;
        font-family: Intro;
        padding-top: 5%;
    }
    #buteconte{
        margin-left: 40%;
        font-family: sans-serif;
        border-radius: 20px 20px 20px 20px;
        font-size: 18px;
        padding-left: 2%;
        padding-right: 2%;
        font-weight: 700;
         letter-spacing: 1px;
    }
    .teste{
      padding-top: 3%;
      margin-left: 0;
      color: #434c5d;
      font-size: 45px;
      letter-spacing: 2px;
      line-height: 60px;
      text-align: center;
      font-family: Intro;
    }
    #imagen{
        width: 100%;
        height: 20px;
    }
    #ti3{
      margin-top: 1px;
      color: #434c5d;
      text-align: center;
      letter-spacing: 4px;
      line-height: 80px;
      font-family: Intro;
      margin-left: 10px;
      padding-top: 20%;
    }
    #image_caro{
        width: 50px;
        height: 40px;
    }

}
   .teste{
      padding-top: 3%;
      margin-left: 0;
      color: #434c5d;
      font-size: 45px;
      letter-spacing: 2px;
      line-height: 60px;
      text-align: center;
      font-family: Intro;
    }
#titulo{
        font-size: 40px;
        text-align: center;
        color: white;
        letter-spacing: 4px;
        line-height: 70px;
        font-family: Intro;
        padding-top: 5%;
}
#buteconte{
        margin-left: 40%;
        font-family: sans-serif;
        border-radius: 20px 20px 20px 20px;
        font-size: 18px;
        padding-left: 2%;
        padding-right: 2%;
        font-weight: 700;
         letter-spacing: 1px;
}
#imagen{
        width: 100%;
        height: 200px;
}

.hr{
    margin-bottom: 4%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
 #conheça{
        padding-top: 4%;
        padding-bottom: 10%;
    }
#ti3{
      margin-top: 1px;
      color: #434c5d;
      font-siz5e: 50px;
      letter-spacing: 2px;
      line-height: 60px;
      font-family: Intro;
      padding-top: 10%;
}

/*


/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #titulo{
        margin-left: 50%;
        color: white;
        font-size: 55px;
        letter-spacing: 4px;
        line-height: 70px;
        font-family: Intro;
        padding-top: 8%;
        padding-bottom: 1%;
    }
    #buteconte{
        margin-left: 67%;
        font-family: sans-serif;
        border-radius: 20px 20px 20px 20px;
        font-size: 18px;
        padding-left: 2%;
        padding-right: 2%;
        font-weight: 700;
        letter-spacing: 1px;
    }
    .teste{
      padding-top: 45px;
      margin-left: 0%;
      color: #434c5d;
      font-size: 70px;
      letter-spacing: 4px;
      line-height: 80px;
      font-family: Intro;
    }
    #imagen{
        width: 350px;
        height: 250px;
    }
    #ti3{
      color: #434c5d;
      font-size: 60px;
      letter-spacing: 4px;
      line-height: 80px;
      font-family: Intro;
      margin-left: -45px;
    }
    #conheça{
        margin-top: -90px;
        padding-bottom: 10%;
    }
    #image_caro{
        width: 650px;
        height: 367px;
    }
}
#bute{

}
#bute:focus{
    background: #3033b4;
}


@font-face {
  font-family: Intro;
  src: url('../fontes/Intro.otf');
}
@font-face {
  font-family: bu;
  src: url('../fontes/bu.otf');
}
@font-face {
  font-family: uf;
  src: url('../fontes/uf.ttf');
}
@font-face {
  font-family: roda;
  src: url('../fontes/roda.ttf');
}