<!DOCTYPE html>
{% extends 'blog/base.html' %}
{% load staticfiles %}
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../static/blog/BS/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{  }}" href="../../static/blog/css/main.css">
    <script src="../../static/blog/BS/js/jquery-3.1.1.min.js"></script>
    <script src="../../static/blog/BS/js/bootstrap.min.js"></script>

</head>
<body>
{% block content %}

{% endblock content %}
</body>
</html>